body {
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    text-align: center;
}

h1 {
    color: #333;
}

form {
    background-color: #fff;
    max-width: 500px;
    margin: 50px auto;
    padding: 30px 20px;
    box-shadow: 2px 5px 10px rgba(0, 0, 0, 0.5);
}

.pergunta {
    text-align: left;
    margin-bottom: 25px;
    display: flex;
    align-items: center;
}

.pergunta label {
    margin-right: 10px;
    color: blue; /* adicionado */
}

.pergunta input[type="checkbox"] {
    display: inline-block;
    width: auto;
    margin-right: 10px;
    order: -1; 
    margin-top: 5px; 
}

button {
    background-color: #333;
    color: #fff;
    border: 1px solid #777;
    border-radius: 2px;
    font-family: inherit;
    font-size: 18px;
    display: block;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 20px;
    padding: 10px 0;
}

button:active {
    background-color: #fff;
    border-color: #333;
}

#resultado {
    font-size: 24px;
    color: red;
}
